/* styling for all pages */

body {
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	background: linear-gradient(132deg, #626550, #969b5f, #44553c);
	background-size: 400% 400%;
	height: 120vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

header{
	position: fixed;
	width: 100%;
}


  /* navbar */
nav{
	float: right;
	margin: 30px 90px;

}

nav ul{
	list-style: none;
}

nav ul li {
	float: left;
	transition: .3s;
}

nav ul li a{
	text-decoration: none;
	color: #EFEEF5;
	transition: .1;
	font-size: 24px;
	margin-left:16px;
}

nav ul li:hover a{
	font-size: 24px;
	color: white;
}

nav ul li:hover{

	transform: skew(20deg);

}
  /* Logo */
.logo{
	width: 27px;
	height: 35px;
	background: #104428;
	opacity: 70%;
	margin: 40px 63px;
	float: left;
	transform: rotate(-20deg);
}

.logo span{
	color: white;
	font-size: 2em;
	line-height: 1.4;
	font-weight: bold;
	border: 1px solid white;
}

/* ------------------------------------------------------------------------------------- */
/* styling for ('/') page */

#container{
	display: flex;
	justify-content: space-evenly;
}

#register,#login{
	width: 40%;
	margin-top: 10%;
}

#login_color{
	color:#646b60;
}

#register_input,#login_input{
    width: 80%;
}

#register_form,#login_form,#dashboard{
    padding: 20px;
    border-radius: 20px;
}

#logout{
	margin-left: 35%;
}

/* styling for flash messages  */
#alert{
	width: 80%;
	height: 140px;
	padding: 5px;
}
/* -------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------- */
/* styling for new page  */

#recipe{
	width: 80%;
	margin: 0 auto;
	background-color: whitesmoke;
	opacity: 80%;
	border-radius: 10px;
}

#title{
	margin-top: 5%;
	color: rgb(28, 62, 28);
	padding: 10px;
}

#text_area{
	width: 90%;
	margin: 0 auto;
}

#submit{
	background-color: #747476;
	color: rgb(28, 62, 28);
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 60%;
	width: 30%;
}

#submit:hover{
	background-color: #104428;
	color: #747476;
}

#post_alert{
	width: 70%;
	margin: 0 auto;
}

/* ---------------------------------------------------------------------------------------- */

/* Dashboard Styling  */

#dashboard_container,#new_recipe_container{
	padding-top: 12%;
}

#title_1{
margin-top: 5%;
color: white;
padding: 10px;
}


/* ------------------------------------------------------------------------------------------------------ */
/* Recipe Page Styling  */

